.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* --- Categories basic styles --- */

.category {
  width: 100%
}

/* --- Galleries basic styles --- */

.gallery-1 .wrapper {
  width: 100%;
}

.room {
  width: 100%;
  margin: .6rem 0;
}

.room::after {
  content: "";
  display: block;
  padding-bottom: 50%;
}

@media screen and (min-width: 30em) {
  .main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
  }
  .main-nav li {
    margin: 0 .2em;
  }
  .main-nav li:nth-child(3) {
    margin-right: .8em;
  }
}

@media screen and (min-width: 41.563em) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 75rem!important;
    margin: 0 auto;
  }
  .main-header {
    padding: .2rem 0;
  }
}

@media screen and (min-width: 42.125em) {
  .brand h4 {
    font-size: 3rem;
  }
}


@media screen and (min-width: 50em) {
  /* --- Categories --- */
  .category:nth-child(-n+2) {
    width: 49%;
  }

  /* --- Gallery - 1 --- */
  .gallery-1 .column-1,
  .gallery-1 .column-2 {
    width: 49%;
  }

  /* --- Gallery - 2 --- */
  .gallery-2 .room:first-child {
    width: 100%;
  }
  .gallery-2 .room:first-child::after {
    padding-bottom: 40%;
  }
  .gallery-2 .room:nth-child(n+2) {
    width: 49.3%;
  }
  .gallery-2 .room:nth-child(n+2)::after {
    padding-bottom: 70%;
  }
}

@media screen and (min-width: 73em) {
  /* --- Categories --- */
  .category:nth-child(n+1) {
    width: 32.3%;
  }
}

@media screen and (min-width: 77.063em) {
  .container {
    max-width: 89.412rem;
  }
  .wrapper {
    max-width: 87.412rem;
  }
  .container,
  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  /* --- Full Width --- */
  .full-width,
  .brands h4 {
    margin-left: calc(-100vw / 2 + 87.412rem / 2);
    margin-right: calc(-100vw / 2 + 87.412rem / 2);
  }
}
